.letter-box-input {
    width:100%;
    overflow: hidden;
    
    label {
        display: block;
        text-align: center;
        padding:1rem;
        box-sizing: border-box;
        width:100%;

        .word {
            margin-block: 1%;
            display: inline-block;
        }

        &+input {
            position: absolute;
            opacity: 0;
            height: 0;
            width:0;
        }
    }
}