.letter-box-input {
    width:100%;
    overflow: hidden;
    z-index: 999;
    
    label {
        display: block;
        text-align: center;
        padding:1rem;
        box-sizing: border-box;
        width:100%;

        .word {
            margin-block: 1%;
            display: inline-block;
            flex-wrap: wrap;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &+input {
            position: absolute;
            opacity: 0;
            height: 0;
            width:0;
        }

        /*&:has(+:not(:focus)) .letter-box {
            background-color: transparent;
            aspect-ratio: 0.9/1;
            
            &--active span{
                
                &::after{
                    content: none;
                }
            }
        }*/
    
    }
}