
body {
  background-color: $gray-1;
  color: $contrast;
}

#root {
  max-width:100%;
}

.app {
  display: grid;
  width:100%;
  height:100vh;
  max-width:100%;
  overflow-x: hidden;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  &__header{

  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
  }
  
  footer {

  }

}
@keyframes loader {
  from{ transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

.translate-section {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: $gray-2;
  border-radius: .5rem;
  z-index: 999;
  margin-bottom: 10rem;
}

progress {
  border-radius: .5rem; 
  width: 100%;
  height: .5rem;

  &.reverse {
    transform: rotate(180deg);
  }
}
progress::-webkit-progress-bar {
  background-color: $gray-2;
  border-radius: .5rem;
}
progress::-webkit-progress-value {
  background-color: $primary;
  border-radius: .5rem;
}
progress::-moz-progress-bar {
  background-color: $primary;
  border-radius: .5rem;
}