.background {
    overflow: hidden;
    width: 100%;
    z-index: 0;

    --padding: 3rem;
    font-size: 1rem;

    @media screen and (max-width: 420px) {
        --padding: 0rem;
        font-size: .6rem;
    }

    @media screen and (min-width: 421px) and (max-width: 768px) {
        --padding: 2rem;
        font-size: .7rem;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
        --padding: 2rem;
        font-size: 1rem;
    }

    // font-size: var(--font-size);

    .smart-rat {
        position: absolute;
        right: calc(0rem + var(--padding));
        bottom: 10%;
        z-index: 1;
    }

    .fat-cat {
        position: absolute;
        left: calc(0rem + var(--padding));
        bottom: 10%;
        z-index: 2;
    }

    .pikarzyki {
        position: absolute;
        right: calc(-4rem + var(--padding));
        bottom: 0;
        z-index: 3;
    }

    .pizza {
        position: absolute;
        left: calc(40em + var(--padding));
        bottom: calc(20em + 10%);
        z-index: 1;
    }

    .monstera {
        position: absolute;
        right: calc(10em + var(--padding));
        bottom: calc(6em + 10%);
        z-index: 1;
    }
}