.fat-cat, .smart-rat, .smart-rat-face, .fat-cat-face, .pikarzyki, .monstera, .pizza {
    width: calc(20 * 1em);
    min-width: calc(20 * 1em);
    position: relative;

    img {
        max-width: 100%;
    }
}
.smart-rat-face, .fat-cat-face {
    font-size: .4em;

    [noise] {
        &::after, &::before {
            font-size: 2em;
       }
    }
}

@keyframes scaling {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(.99);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes shaking {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(0);
    }
    
}

.smart-rat-face {
    padding-top: 2em;
    padding-right: 2em;

    img {
        animation: scaling .3s ease infinite;
    }

    [noise="pi"] {
        transform: rotate(40deg);
        top: 6em;
        right: 2em;
    }
}

.fat-cat-face {
    padding-top: 2em;
    padding-left: 2em;

    img {
        animation: shaking 4s ease infinite;
    }

    [noise="meow"] {
        transform: rotate(-40deg);
        top: 4em;
        left: -.5em;
        --delay: 3s;
    }
}

.shadow {
    img {
        z-index: 1;
        position: relative;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;

        z-index: 0;
        background-color: $gray-2;
        border-radius: 50%;
        // filter: blur(5px);
    }
}

.fat-cat {
    font-size: .7em;

    [noise="tap"] {
        transform: rotate(45deg);
        top: 1em;
        right: 2em;
        --delay: 6s;
    }

    [noise="bam"] {
        transform: rotate(-45deg);
        top: 1em;
        left: 3em;
        --delay: 3s;
    }

    &::before {
        bottom: 2em;
        left: 3em;
        width: 15em;
        height: 10em;
    }
}

.smart-rat {
    font-size: .5em;

    [noise="click"] {
        transform: rotate(-60deg);
        top: 3.5em;
        left: 4em;

        &::after {
            transform: rotate(20deg);
        }
    }

    &::before {
        bottom: 1em;
        left: 1.5em;
        width: 16em;
        height: 10em;
    }

}

.pikarzyki {
    font-size: 1em;

    &::before {
        bottom: 1em;
        right: 1.5em;
        width: 16em;
        height: 10em;
    }
}

.monstera {
    font-size: .5em;

    &::before {
        bottom: 1em;
        left: 1.5em;
        width: 16em;
        height: 10em;
    }
}

.pizza {
    font-size: .3em;

    &::before {
        bottom: 1em;
        right: 1.5em;
        width: 16em;
        height: 10em;
    }
}

.clock {
    position: relative;
    img {
        animation: rotate 1s linear infinite;
    }
    [noise="tic"] {
        
        left: 0em;
        bottom: 1em;
        transform: rotate(20deg);
        &::after {
            animation-duration: 1s;
            transform: rotate(-40deg);
            content: none;
        }
        &::before {
            animation-duration: 1s;
        }
    }
    [noise="tac"] {
        right: 1em;
        top: -1.5em;
        transform: rotate(20deg);
        &::after {
            content: none;
        }
        &::before {
            animation-duration: 1s;
            animation-delay: .5s;
        }
    }
}

@keyframes noise {
    0% {
        opacity: 0;
        transform: scale(0), rotate(inherit);
    }
    2%, 20% {
        opacity: 1;
        transform: scale(1), rotate(inherit);
    }
    27%, 100% {
        opacity: 0;
        transform: scale(0), rotate(inherit);
    }
}

[noise]{
    --delay: 0s;
    font-weight: 900;
    position: absolute;
    font-size: 1em;
    z-index: 1;

    &::after, &::before {
        content: attr(noise);
        position: absolute;
        top: 0;
        left: 0;
        text-transform: uppercase;
        opacity: 0;
    }

    &::after {
        top: 1.5em;
        left: .5em;

        animation: noise 7s var(--delay) infinite cubic-bezier(.53,.78,.12,1.2);
    }

    &::before {
        animation: noise 7s calc(var(--delay) + .9s) infinite cubic-bezier(.53,.78,.12,1.2);
    }
}