.change-language {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    h4 {
        margin: 0;
    }

    &__list {
        display: flex;
    }

    input {
        display: none;

        &:checked + label {
            border-color: $contrast;
            img {
                transform: scale(1.2);
            }
        }
    }

    label {
        display: flex;
        padding: .5rem;
        cursor: pointer;
        border-radius: .5rem;
        border: 2px solid transparent;
    
        img {
            border-radius: .2rem;
            transition: transform .3s;
        }

    }
}