.categories {
    a {
        position: relative;
        text-decoration: none;

        &.level::after {
            content: attr(level);
            color:white;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            font-size:.9rem;
            font-weight:bold;
            top:0;
            left:0;
            padding:.25rem;
            border-radius:50%;
            aspect-ratio: 1;
            height:1rem;
            background-color: $primary;
            margin-top: -.5rem;
            margin-left: -.5rem;

        }
    }

    &__list {
        display: flex;
        list-style: none;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    &__item {
        padding: .3rem .3rem;
        border-radius: 0.6rem;
        background-color: $contrast;
        cursor: pointer;
        transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
        font-size: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: fly-in 0.5s ease-in-out;

        &:hover {
            box-shadow: 0 5px 15px 0 $gray-2;
            transform: scale(1.1);
        }
    }

    &__delete {
        position: absolute;
        top: -.5rem;
        right: 0rem;
        transform: rotate(45deg);
        font-size: 1.5rem;
        color: $gray;
    }
}

@keyframes fly-in {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
    
}