$contrast: white;
$light: #F2F5F7;
$grey: #ABB5BE;
$dark: #475F6D;
$black: black;
$primary: #FF6400;
$green: #67AE3E;
$yellow: #FFC40D;
$red: #E71226;


$grey-1: #99B9CB;
$grey-2: #688CA1;
$grey-3: #487189;