.letter-box{
    display: inline-block;
    background-color: $gray-2;
    color: $black;
    position: relative;
    transition: all .2s;
    box-sizing: border-box;
    
    &.wrong {
        animation: wrong .5s forwards;
        background-color: $red;
    }

    &__inner {
        display: block;
        line-height: 1.3;
        border-radius: 15%;
        background-color: $contrast;
    }
    
    span {
        line-height: 1.1;
        text-transform: lowercase;
    }
    &--allwrong{
        color: $gray;
        animation: allwrong .4s forwards;
    }
    &--wrong{
        color: $gray;
        animation: wrong .5s forwards;
    }
    &--win{
        color: $green;
        animation: win 1s forwards;
    }
    &--blank {
        color: $gray;
    }
    &--raw {
        color: $red;
    }
    &--done {
        color: $black;
    }
    &--active, &--wrong{
        color: $gray;
            top: -.4rem;
        
            &::after{
                content: "";
                display: block;
                position: absolute;
                bottom:15%;
                left:50%;
                transform: translateX(-50%);
                height: 6%;
                border-radius:50px;
                background-color: $primary;
                animation: scalein .5s forwards;
            }
        

    }
}

.non-writable {
    color: $black;
}

@keyframes fadein {
    from{ opacity:0;}
    to{opacity: 1;}
}

@keyframes scalein {
    from{ width: 0;}
    to{ width: 74%; }
}

@keyframes wrong {
    0%{ transform: rotate(0deg);}
    33%{ transform: rotate(-20deg);}
    66%{ transform: rotate(20deg);}
    100%{transform: srotate(0deg);}
}

@keyframes allwrong {
    0%{ transform: translateY(0) rotate(-20deg); opacity: 1}
    50%{ transform: translateY(-1rem) rotate(20deg); opacity: .5}
    100%{transform: translateY(-2rem) srotate(-20deg); opacity: 0}
}

@keyframes win {
    0%{ transform: scale(1);}
    33%{ transform: scale(.7);}
    66%{ transform: scale(1); opacity:1}
    100%{transform: scale(5); opacity:0}
}