.letter-box{
    $root: &;
    display: inline-block;
    background-color: $gray-2;
    color: transparent;
    position: relative;
    transition: all .2s;
    box-sizing: border-box;
    
    
    &.wrong {
        animation: wrong .5s forwards;
        background-color: $red;
    }

    &__inner {
        display: block;
        line-height: 1.3;
        border-radius: 15%;
        background-color: $contrast;
        padding-bottom: .5rem;
        transition: transform .2s ease-in-out;
    }
    
    span {
        line-height: 1.1;
        text-transform: lowercase;
    }

    &--allwrong{
        animation: allwrong 1.5s cubic-bezier(.9,-0.4,.31,1) forwards;
    }
    &--wrong{
        animation: wrong .5s forwards;
    }
    &--blank {
        color: transparent;
    }
    &--helpers {
        color: $gray;
    }
    &--win{
        color: $black;
        animation: win 1.5s .5s cubic-bezier(.9,-0.4,.31,1) forwards;
    }
    &--raw {
        color: $red;
    }
    &--done {
        color: $black;
    }
    &--active, &--wrong{
            &::after{
                content: "";
                display: block;
                position: absolute;
                bottom:15%;
                left:50%;
                transform: translateX(-50%);
                height: 6%;
                border-radius:50px;
                background-color: $primary;
                animation: scalein .5s forwards;
            }
    }
    &--active{
        #{$root}__inner{
            transform: scaleY(1.1);
        }
    }
}

.non-writable {
    color: $black;

    &--win {
        animation: win 1.5s cubic-bezier(.9,-0.4,.31,1) forwards;
    }
}



@keyframes fadein {
    from{ opacity:0;}
    to{opacity: 1;}
}

@keyframes scalein {
    from{ width: 0;}
    to{ width: 74%; }
}

@keyframes wrong {
    0%{ transform: rotate(0deg) scaleY(1.1);}
    33%{ transform: rotate(-20deg) scaleY(1);}
    66%{ transform: rotate(20deg) scaleY(1);}
    100%{transform: rotate(0deg) scaleY(1.1);}
}

@keyframes allwrong {
    from { transform: translateY(0) rotate(0); opacity: 1}
    to {transform: translateY(2rem) rotate(-20deg); opacity: 0}
}

@keyframes win {
    from{ transform: scale(1);}
    to{transform: scale(1.5); opacity:0}
}
@keyframes in {
    from{ opacity:0; transform: scale(0);}
    to{opacity: 1; transform: scale(1);}
}
