.hint {
    display: grid;
    margin-inline: auto;
    grid-template-columns: auto 1fr;
    width:100%;
    box-sizing:border-box;
    align-items: center;
    justify-items: start;
    z-index: 999;
    animation: show 1s ease forwards;
    overflow: hidden;

    &--reverse {
        grid-template-columns:  1fr auto; 
        justify-items: end;
    }

    &--reverse  &__text {
        grid-area: 1/1/2/2;
    }

    &__text {
        text-align: left;
        padding: 1rem 2rem;
        background-color: $gray-2;
        border-radius:2rem;

        span {
            display: inline-block;
            overflow: hidden;
            animation: writing 5s ease forwards;
        }
    }
}

@keyframes show {
    0% {
        opacity: 0;
        max-height: 0;
    }
    99% {
        opacity: 1;
        max-height: 500px;
    }
    100% {
        opacity: 1;
        max-height: 5000px;
    }
}

@keyframes writing {
    0% {
        max-height: 1.3em;
        max-width: 0;
    }
    30% {
        max-height: 1.3em;
        max-width: 100%;
    }
    100% {
        max-height: 500px;
        max-width: 100%;
    }
}