.hint {
    display: grid;
    margin-inline: auto;
    grid-template-columns: auto 1fr;
    min-height:12vh;
    width:100%;
    max-width:500px;
    box-sizing:border-box;
    padding:1rem 2rem;
    align-items: center;
    justify-items: start;

    &--reverse {
        grid-template-columns:  1fr auto; 
        justify-items: end;


    }

    &--reverse  &__text {
        grid-area: 1/1/2/2;
    }

    &__img {
        height:100%;
        aspect-ratio: 1;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__text {
        
        span{
            background-color: $grey-1;
            padding: 1rem 2rem;
            border-radius:2rem;
            display: inline-block;

        }
    }
}